*.BAK 
logs/
test/
tmp/
db/
modules/
*.BAK
lib/httpclient-*.jar
lib/httpcore-*.jar
lib/httpmime-*.jar
lib/ant-*.jar
lib/jdom-*.jar
lib/logkit-*.jar
lib/oro-*.jar
lib/servlet-*.jar
lib/velocity-*.jar
lib/werken-xpath-*.jar
lib/aws-java-sdk-*.jar
lib/jackson-core-asl-*.jar
lib/stax-*.jar
velocity.log
temp*.txt
